* {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  width: 100%;
  background-color: skyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  width: 800px;
  margin: 10px auto;
  padding: 32px;
  background-color: white;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 10px 30px;
  width: 200px;
}
